@model LojaVirtual.Models.Produto

<h3>Produto -> Visualizar</h3>
:0

Razor:
@{
    string nome = "Samuel Vicença";
}

<h3>@nome</h3>
<br />
<h2>Produto</h2>
<b>Código:</b> @Model.Id
<br />
<b>Nome:</b> @Model.Nome
<br />
<b>Descrição:</b> @Model.Descricao
<br />
<b>Valor:</b> @Model.Valor
<br />